#navbar {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .navbar-left {
    display: flex;
    padding-left: 16px;
  }
  
  .navbar-right {
    display: flex;
    gap: 12px;
    padding-right: 16px;
  }
  a {
    color: black;
    text-decoration: none;
  }