#navbar {
  background-color: var(--blue-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 8px
}

#logo {
  height: 36px;
  width: 36px;
}

.navbar-left {
  display: flex;
  padding-left: 16px;
}

.navbar-right {
  display: flex;
  gap: 12px;
  padding-right: 16px;
}
